# Node.js
node_modules/
*.d.ts
*.js
*.log

# TypeScript
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# NPM files
package-lock.json
pnpm-lock.yaml

# Git files
.git/
.gitignore
